
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytorch stuff
data/*
models/*
!models/README.md
!data/README.md

# From Luz et al
results/*
tb_dir/*
__pycache__/*
source/results/*
source/tb_dir/*
source/__pycache__/*