absl-py==1.2.0
astor==0.8.1
astunparse==1.6.3
attrs==22.1.0
certifi==2020.6.20
cloudpickle==1.1.1
contextlib2==21.6.0
dataclasses==0.8
decorator==4.4.2
dm-sonnet==1.36
dm-tree==0.1.7
fire==0.4.0
future==0.18.2
gast==0.2.2
gmsh-interop==2021.1.1
google-pasta==0.2.0
graph-nets==1.1.0
grpcio==1.48.2
h5py==2.10.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
joblib==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
matlabengineforpython===R2019b
MeshPy==2020.1
networkx==2.5.1
numpy==1.19.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvcc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.6.0.163
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.4.91
nvidia-dali-cuda110==1.16.0
nvidia-dali-nvtf-plugin==1.16.0+nv22.8
nvidia-horovod==0.25.0+nv22.8
nvidia-nccl-cu11==2.14.3
nvidia-pyindex==1.0.9
nvidia-tensorflow==1.15.5+nv22.8
nvidia-tensorrt==8.4.3.1
opt-einsum==3.3.0
packaging==21.3
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.19.6
psutil==5.9.2
py==1.11.0
pyamg==4.0.0
pybind11==2.10.0
pyparsing==3.0.9
pytest==7.0.1
pytools==2022.1.12
PyYAML==6.0
scikit-learn==0.24.2
scipy==1.5.4
semantic-version==2.10.0
six==1.16.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.5
tensorflow-probability==0.8.0
termcolor==1.1.0
threadpoolctl==3.1.0
tomli==1.2.3
tqdm==4.42.0
typing_extensions==4.1.1
Werkzeug==2.0.3
wrapt==1.14.1
zipp==3.6.0
