# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=1.3.0=pyhd8ed1ab_0
aiohttp=3.8.1=py39hb9d737c_1
aiosignal=1.2.0=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.2=pyhd8ed1ab_0
attrs=22.1.0=pyh71513ae_1
blinker=1.5=pyhd8ed1ab_0
brotlipy=0.7.0=py39hb9d737c_1004
c-ares=1.18.1=h7f98852_0
ca-certificates=2022.9.24=ha878542_0
cached-property=1.5.2=pypi_0
cachetools=5.2.0=pyhd8ed1ab_0
certifi=2022.9.24=pyhd8ed1ab_0
cffi=1.15.1=py39h74dc2b5_0
charset-normalizer=2.1.1=pyhd8ed1ab_0
chex=0.1.5=pypi_0
click=8.1.3=py39hf3d152e_0
clu=0.0.7=pypi_0
commonmark=0.9.1=pypi_0
contextlib2=21.6.0=pypi_0
contourpy=1.0.5=pypi_0
cryptography=35.0.0=py39h95dcef6_2
cuda=11.8.0=0
cuda-cccl=11.8.89=0
cuda-command-line-tools=11.8.0=0
cuda-compiler=11.8.0=0
cuda-cudart=11.8.89=0
cuda-cudart-dev=11.8.89=0
cuda-cuobjdump=11.8.86=0
cuda-cupti=11.8.87=0
cuda-cuxxfilt=11.8.86=0
cuda-demo-suite=11.8.86=0
cuda-documentation=11.8.86=0
cuda-driver-dev=11.8.89=0
cuda-gdb=11.8.86=0
cuda-libraries=11.8.0=0
cuda-libraries-dev=11.8.0=0
cuda-memcheck=11.8.86=0
cuda-nsight=11.8.86=0
cuda-nsight-compute=11.8.0=0
cuda-nvcc=11.8.89=0
cuda-nvdisasm=11.8.86=0
cuda-nvml-dev=11.8.86=0
cuda-nvprof=11.8.87=0
cuda-nvprune=11.8.86=0
cuda-nvrtc=11.8.89=0
cuda-nvrtc-dev=11.8.89=0
cuda-nvtx=11.8.86=0
cuda-nvvp=11.8.87=0
cuda-profiler-api=11.8.86=0
cuda-runtime=11.8.0=0
cuda-sanitizer-api=11.8.86=0
cuda-toolkit=11.8.0=0
cuda-tools=11.8.0=0
cuda-visual-tools=11.8.0=0
cudatoolkit=11.2.2=hbe64b41_10
cudnn=8.1.0.77=h90431f1_0
cycler=0.11.0=pypi_0
dill=0.3.6=pypi_0
dm-haiku=0.0.8=pypi_0
dm-tree=0.1.7=pypi_0
etils=0.8.0=pypi_0
fire=0.4.0=pypi_0
flatbuffers=22.9.24=pypi_0
flax=0.6.1=pypi_0
fonttools=4.38.0=pypi_0
frozenlist=1.2.0=py39h7f8727e_0
gast=0.4.0=pypi_0
gds-tools=1.4.0.31=0
gmsh-interop=2021.1.1=pypi_0
google-auth=2.12.0=pypi_0
google-auth-oauthlib=0.4.6=pyhd8ed1ab_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.56.4=pypi_0
grpcio=1.49.1=pypi_0
h5py=3.7.0=pypi_0
idna=3.4=pyhd8ed1ab_0
importlib-metadata=5.0.0=pypi_0
importlib-resources=5.10.0=pypi_0
iniconfig=1.1.1=pypi_0
jax=0.3.23=pypi_0
jaxlib=0.3.22+cuda11.cudnn82=pypi_0
jmp=0.0.2=pypi_0
joblib=1.2.0=pypi_0
jraph=0.0.6.dev0=pypi_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.4=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libblas=3.9.0=15_linux64_openblas
libcblas=3.9.0=15_linux64_openblas
libclang=14.0.6=pypi_0
libcublas=11.11.3.6=0
libcublas-dev=11.11.3.6=0
libcufft=10.9.0.58=0
libcufft-dev=10.9.0.58=0
libcufile=1.4.0.31=0
libcufile-dev=1.4.0.31=0
libcurand=10.3.0.86=0
libcurand-dev=10.3.0.86=0
libcusolver=11.4.1.48=0
libcusolver-dev=11.4.1.48=0
libcusparse=11.7.5.86=0
libcusparse-dev=11.7.5.86=0
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libgfortran-ng=12.2.0=h69a702a_19
libgfortran5=12.2.0=h337968e_19
libgomp=11.2.0=h1234567_1
liblapack=3.9.0=15_linux64_openblas
libnpp=11.8.0.86=0
libnpp-dev=11.8.0.86=0
libnvjpeg=11.9.0.86=0
libnvjpeg-dev=11.9.0.86=0
libopenblas=0.3.20=pthreads_h78a6416_0
libprotobuf=3.15.8=h780b84a_1
libstdcxx-ng=11.2.0=h1234567_1
markdown=3.4.1=pyhd8ed1ab_0
markupsafe=2.1.1=py39hb9d737c_1
matlabengineforpython=R2022a=pypi_0
matplotlib=3.6.1=pypi_0
meshpy=2020.1=pypi_0
ml-collections=0.1.1=pypi_0
msgpack=1.0.4=pypi_0
multidict=6.0.2=py39hb9d737c_1
ncurses=6.3=h5eee18b_3
nsight-compute=2022.3.0.22=0
numpy=1.23.4=pypi_0
nvidia-ml-py3=7.352.0=pypi_0
oauthlib=3.2.1=pypi_0
openssl=1.1.1q=h7f8727e_0
opt-einsum=3.3.0=pypi_0
optax=0.1.3=pypi_0
packaging=21.3=pypi_0
pandas=1.5.0=pypi_0
pillow=9.2.0=pypi_0
pip=22.3=pypi_0
platformdirs=2.5.2=pypi_0
pluggy=1.0.0=pypi_0
promise=2.3=pypi_0
protobuf=3.19.6=pypi_0
py=1.11.0=pypi_0
pyamg=4.2.3=pypi_0
pyasn1=0.4.8=py_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.21=pyhd8ed1ab_0
pygments=2.13.0=pypi_0
pyjwt=2.6.0=pyhd8ed1ab_0
pyopenssl=22.0.0=pyhd8ed1ab_1
pyparsing=3.0.9=pypi_0
pysocks=1.7.1=pyha2e5f31_6
pytest=7.1.3=pypi_0
python=3.9.13=haa1d7c7_2
python-dateutil=2.8.2=pypi_0
python_abi=3.9=2_cp39
pytools=2022.1.12=pypi_0
pytz=2022.4=pypi_0
pyu2f=0.1.5=pyhd8ed1ab_0
pyyaml=6.0=pypi_0
readline=8.1.2=h7f8727e_1
requests=2.28.1=pyhd8ed1ab_1
requests-oauthlib=1.3.1=pyhd8ed1ab_0
rich=12.6.0=pypi_0
rsa=4.9=pyhd8ed1ab_0
scikit-learn=1.1.2=pypi_0
scipy=1.6.0=pypi_0
setuptools=63.4.1=py39h06a4308_0
six=1.16.0=pyh6c4a22f_0
sqlite=3.39.3=h5082296_0
tabulate=0.9.0=pypi_0
tensorboard=2.10.1=pyhd8ed1ab_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pyhd8ed1ab_0
tensorflow=2.10.0=pypi_0
tensorflow-datasets=4.7.0=pypi_0
tensorflow-estimator=2.10.0=pypi_0
tensorflow-io-gcs-filesystem=0.27.0=pypi_0
tensorflow-metadata=1.10.0=pypi_0
termcolor=2.0.1=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.12=h1ccaba5_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.0=pypi_0
tqdm=4.42.0=pypi_0
typing-extensions=4.4.0=hd8ed1ab_0
typing_extensions=4.4.0=pyha770c72_0
tzdata=2022c=h04d1e81_0
urllib3=1.26.12=pypi_0
werkzeug=2.2.2=pyhd8ed1ab_0
wheel=0.37.1=pyhd3eb1b0_0
wrapt=1.14.1=pypi_0
xz=5.2.6=h5eee18b_0
yarl=1.7.2=py39hb9d737c_2
zipp=3.9.0=pyhd8ed1ab_0
zlib=1.2.12=h5eee18b_3
